* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-seriff;
  font-weight: 400;
  font-size: 14px;
  color: #2d3c49;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	display: flex;
	flex-direction: column;
	max-width: 80vw;
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1em 0;
	border-bottom: 2px solid #7d97ad;
	padding-bottom: 1em;
	text-transform: uppercase;
}

.logo {
	display: flex;
	margin: auto 0;
}

.headtext {
	text-align: right;
}

.fname {
	color: #262460;
}

.lname {
	color: #bd2132;
}

.subtitle {
	font-style: italic;
	font-weight: 300;
	padding-top: .5em;
}

.main-content {
	display: flex;
	flex-direction: column;
}

.hero-image-container {
	margin: 1rem 0;
}

.hero-image {
	border-radius: 2px;
}

.feature-title {
	font-weight: 900;
	margin: 1em 0;
}

.project-container {
	display: flex;
	justify-content: space-between;
	margin: 1em 0;
	text-align: center;
}

.project {
	width: 30%
}

.project-description {
	text-align: justify;
	margin-top: .5em;
}

@media screen and (max-width: 990px){
	.project-container {
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.project {
		width: 40%;
		margin: 1em 0;
	}
}

@media screen and (max-width: 600px){
	.project {
		width: 100%;
		margin: .5em 0;
	}
}

@media screen and (max-width: 450px){
	.project-container {
		flex-direction: column;
	}
	.project {
		/*width: 100%;*/
		margin: .5em 0;
	}
}